# Normalizando os dados

# Lendo os datasets

In [1]:
import os
import numpy as np
import pandas  as pd


DATA_BASE_PATH = "./data"

FAC_FILE = os.path.join(DATA_BASE_PATH, "mfeat-fac")
FOU_FILE = os.path.join(DATA_BASE_PATH, "mfeat-fou")
KAR_FILE = os.path.join(DATA_BASE_PATH, "mfeat-kar")

fac = np.loadtxt(FAC_FILE, dtype=int)
fou = np.loadtxt(FOU_FILE, dtype=float)
kar = np.loadtxt(KAR_FILE, dtype=float)
print("FAC shape:", fac.shape, "\nFOU shape:", fou.shape, "\nKAR shape:", kar.shape)

FAC shape: (2000, 216)
FOU shape: (2000, 76)
KAR shape: (2000, 64)

In [2]:
pd.DataFrame(fac).head(5)

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,98,236,531,673,607,647,2,9,3,6,...,474,536,628,632,18,36,8,15,12,13
1,121,193,607,611,585,665,7,9,2,4,...,520,458,570,634,15,32,11,13,15,11
2,115,141,590,605,557,627,12,6,3,3,...,535,498,572,656,20,35,16,14,13,6
3,90,122,627,692,607,642,0,6,4,5,...,576,549,628,621,16,35,7,12,15,9
4,157,167,681,666,587,666,8,6,1,4,...,594,525,568,653,16,35,10,15,13,13

In [3]:
pd.DataFrame(fou).head(5)

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,0.065882,0.197312,0.103826,0.270362,0.616078,0.035856,0.424572,0.089701,0.367773,0.037065,...,0.123448,0.113374,0.074343,0.281666,0.067795,0.344182,0.038963,0.394366,0.049971,0.344871
1,0.049142,0.175971,0.105515,0.227095,0.599280,0.041217,0.431078,0.096801,0.326739,0.059661,...,0.045310,0.069337,0.045386,0.254264,0.045447,0.335659,0.021719,0.445277,0.083978,0.354092
2,0.034172,0.227649,0.108766,0.127697,0.612494,0.056554,0.470639,0.041903,0.324267,0.044569,...,0.019858,0.218842,0.041087,0.360464,0.047154,0.377408,0.052099,0.445029,0.071234,0.261465
3,0.062336,0.217979,0.080243,0.289592,0.546316,0.045779,0.425545,0.022841,0.331454,0.119052,...,0.083995,0.085479,0.087658,0.151880,0.075950,0.293462,0.022675,0.408291,0.063010,0.401376
4,0.061970,0.198358,0.111239,0.253460,0.608455,0.023631,0.415246,0.091866,0.309310,0.049142,...,0.021004,0.106960,0.032283,0.248565,0.015674,0.386276,0.039481,0.434701,0.069218,0.405403

In [4]:
pd.DataFrame(kar).head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,-10.297008,-11.666789,11.560669,-2.081316,4.044656,4.086815,-2.558072,-8.476935,2.138135,3.503082,...,1.078083,0.921927,0.496387,-0.643667,0.284104,0.286555,0.348625,1.814691,-1.351353,-0.473910
1,-5.036009,-12.885333,0.161155,0.592460,3.123534,4.220469,-6.411771,-6.335328,-0.244622,1.346073,...,0.942353,2.938791,1.429883,-2.336344,1.281628,-0.098321,0.582357,0.485792,0.642451,0.613107
2,-9.639157,-6.655898,0.388687,-1.717650,0.300346,3.400769,-7.240785,-1.659405,-0.874005,4.153403,...,-0.413174,-0.023028,-0.025265,1.259838,-0.441360,-0.960094,1.995843,1.097748,0.827182,-1.767840
3,-6.650375,-7.043851,4.104350,-2.342780,3.494658,3.924822,-9.874812,-6.556576,-1.364269,1.153308,...,-0.961236,-1.043815,-0.204508,-1.981150,0.982438,-0.144233,-1.449328,-0.913552,-0.771735,0.304992
4,-10.664524,-10.974133,0.194391,0.453885,2.193088,-3.304663,-8.376592,-4.241146,2.964818,-0.949622,...,0.152957,1.448160,-1.254907,-3.481295,-0.563889,1.529335,0.510399,0.298318,-0.943213,1.149847

## Normalizando os dados
### [Descrição do algoritmo Referêcia](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html#examples-using-sklearn-preprocessing-minmax-scale)

In [5]:
from sklearn.preprocessing import minmax_scale

fac = minmax_scale(fac, copy=False)
fou = minmax_scale(fou, copy=False)
kar = minmax_scale(kar, copy=False)

pd.DataFrame(fac).head(5)

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,0.069196,0.320248,0.040576,0.219966,0.440415,0.342105,0.047619,0.210526,0.076923,0.352941,...,0.037859,0.189097,0.471831,0.290816,0.586207,0.945946,0.200000,0.785714,0.500000,0.565217
1,0.120536,0.231405,0.140052,0.115059,0.383420,0.371711,0.166667,0.210526,0.051282,0.235294,...,0.097911,0.056218,0.335681,0.294218,0.482759,0.837838,0.285714,0.642857,0.714286,0.478261
2,0.107143,0.123967,0.117801,0.104907,0.310881,0.309211,0.285714,0.131579,0.076923,0.176471,...,0.117493,0.124361,0.340376,0.331633,0.655172,0.918919,0.428571,0.714286,0.571429,0.260870
3,0.051339,0.084711,0.166230,0.252115,0.440415,0.333882,0.000000,0.131579,0.102564,0.294118,...,0.171018,0.211244,0.471831,0.272109,0.517241,0.918919,0.171429,0.571429,0.714286,0.391304
4,0.200893,0.177686,0.236911,0.208122,0.388601,0.373355,0.190476,0.131579,0.025641,0.235294,...,0.194517,0.170358,0.330986,0.326531,0.517241,0.918919,0.257143,0.785714,0.571429,0.565217

In [6]:
pd.DataFrame(fou).head(5)

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,0.155955,0.247037,0.148847,0.352688,0.772897,0.069028,0.558379,0.162726,0.516306,0.059601,...,0.301652,0.264307,0.150759,0.567719,0.141470,0.747250,0.059206,0.628352,0.095886,0.588917
1,0.113125,0.219041,0.151407,0.294052,0.751752,0.080182,0.567182,0.175860,0.456988,0.098385,...,0.102266,0.158227,0.090060,0.511063,0.092081,0.728319,0.030360,0.711892,0.162660,0.604874
2,0.074823,0.286835,0.156336,0.159348,0.768386,0.112090,0.620715,0.074304,0.453415,0.072481,...,0.037322,0.518366,0.081047,0.730644,0.095854,0.821057,0.081180,0.711485,0.137636,0.444575
3,0.146884,0.274150,0.113103,0.378748,0.685080,0.089673,0.559695,0.039041,0.463804,0.200327,...,0.200980,0.197110,0.178670,0.299370,0.159492,0.634584,0.031960,0.651201,0.121489,0.686703
4,0.145945,0.248410,0.160085,0.329783,0.763302,0.043595,0.545760,0.166732,0.431794,0.080330,...,0.040244,0.248856,0.062592,0.499279,0.026285,0.840755,0.060074,0.694537,0.133679,0.693673

In [7]:
pd.DataFrame(kar).head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.191173,0.128265,0.889728,0.392640,0.528227,0.572467,0.428702,0.117245,0.467246,0.775042,...,0.605889,0.612774,0.566488,0.485568,0.575015,0.560623,0.564614,0.836661,0.219735,0.433051
1,0.354385,0.089040,0.498033,0.478535,0.488533,0.578197,0.276222,0.227414,0.382112,0.674608,...,0.588639,0.877914,0.699784,0.256857,0.752063,0.505457,0.603371,0.618422,0.565718,0.595312
2,0.211582,0.289563,0.505851,0.404323,0.366873,0.543054,0.243420,0.467955,0.359624,0.805322,...,0.416371,0.488549,0.492001,0.742765,0.446255,0.381936,0.837747,0.718921,0.597774,0.239905
3,0.304303,0.277075,0.633523,0.384240,0.504526,0.565522,0.139199,0.216033,0.342108,0.665633,...,0.346719,0.354355,0.466406,0.304850,0.698960,0.498876,0.266488,0.388613,0.320316,0.549319
4,0.179772,0.150561,0.499175,0.474083,0.448437,0.255569,0.198479,0.335144,0.496782,0.567718,...,0.488318,0.681954,0.316418,0.102153,0.424507,0.738755,0.591439,0.587634,0.290560,0.675432

## Exportando os dados normalizados

In [8]:
np.save(f"{FAC_FILE}-norm", fac)
np.save(f"{FOU_FILE}-norm", fou)
np.save(f"{KAR_FILE}-norm", kar)